PORT=8791
THINGSLOG_MOCK=true
THINGSLOG_BASE_URL=https://iot.thingslog.com:4443
THINGSLOG_TOKEN=
THINGSLOG_DEVICE_NUMBER=00000109
THINGSLOG_SENSOR_INDEX=0
THINGSLOG_FROM_DATE=2019-01-25T00:00:00+02:00
THINGSLOG_TO_DATE=2019-01-25T01:00:00+02:00

